<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOCALHOST:127.0.0.1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="design/styles/jstyles.css">
</head>


<body>

<style>
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
</style>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<!-- FirebaseDB -->
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBq6mpowidyq3CR5CEJgZO7-vWfx7WXE8w",
        authDomain: "product-slider.firebaseapp.com",
        databaseURL: "https://product-slider.firebaseio.com",
        projectId: "product-slider",
        storageBucket: "product-slider.appspot.com",
        messagingSenderId: "707544519915"
    };
    firebase.initializeApp(config);
</script>
<script src="design/js/core.ctrl.js"></script>
<script src="design/js/product-slider.js"></script>

<!-- START: Bootstrap Navigation -->
<nav id="j-nav1" class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img alt="Brand" src="images/menu-btn.png" height="24px">
			 </a>
		</div>
		-->

		<!-- Bootstrap nav links, forms, and other content for toggling -->
		<div id="j-top-nav-1st" class="collapse navbar-collapse">
			<!-- website page links: -->
			<ul class="nav navbar-nav navbar-left">
				<li><a href="<%=insecureurl%>" title="<%=ALT_HOME_TXT%>">HOME</a></li>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">SHIPPING</a></li>
				<li><a href="#">CONTACT US</a></li>
				<li><a href="#">VIEW CART</a></li>
			</ul>

			<!-- search form area: -->
			<form method="POST" id="searchprodform" action="searchprods.asp" class="navbar-form navbar-right">
				<input name="ProductSearchBy" value="2" type="hidden">
				<div class="form-group search">
					<input type="text" class="form-control" placeholder="Search">
				</div>

				<button type="submit" class="btn btn-default btn-go">Search</button>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<!-- END: Bootstrap Navigation -->

<hr>
<h1 class="text-center">~ AngularJS prototype feature ~ </h1>
<hr>

<!-- START: AngularJS app section: -->
<!-- apSliderCtrl Controller -->
<section id="ng-app1" ng-cloak ng-app="ap-slider" class="container-fluid"
         ng-controller="apCoreCtrl">
	<br>

	<!-- Primary product slider prototype -->
	<div id="j-product-slider" ng-controller="apSliderCtrl">
		<h1>Product Group1: {{ productsGroup1_title }}</h1>
	</div>

	<hr>
	<!-------------------------------------------------------------->
	<!-- random trial&error code to get everything up and running -->
	<!-------------------------------------------------------------->
	<input type="text" ng-model="data.productDescription">
	<h4>Product Description: {{data.productDescription}}</h4>
	<h1>{{2+2}} = 2+2</h1>
	<h2>{{data.key1}}</h2>

	<!-- RealTimeDB test1 area -->
	<ul>
		<li ng-repeat="message in messages">
			<!-- edit message -->
			<label for="ap-message">Edit Message</label>
			<input id="ap-message" type="text" ng-model="message.text" ng-change="messages.$save(message)">
			<!-- delete message -->
			<button ng-click="messages.$remove(message)">Delete Message</button>
			<br>[ Message: {{ message.text }} ]
		</li>
	</ul>
	<!-- create a new message -->
	<form ng-submit="addMessage()">
		<label for="new-message">Add a Message Now.</label>
		<input id="new-message" type="text" ng-model="newMessageText">
		<button type="submit">Add Message</button>
	</form>
</section>
<!-- END: AngularJS app section: -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>