<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOCALHOST:127.0.0.1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="design/styles/jstyles.css">
	<link rel="stylesheet" href="design/styles/jslider.css">

	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>
</head>


<body>
<br>
<!-- Top section of products -->
<section class="container-fluid">
	<!-- 1st row of products: -->
	<div class="row">
		<!-- 1st Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/products.asp?dept=88">
					<img src="http://www.aussieproducts.com/images/may2017onward/homepage-imgs-5-9-17-sauces.png"
					     class="j-img-portrait2" alt="chocolate">
					<h4>Autralian Sauces</h4>
					<!--<h6>Item #: WWOMPB</h6>-->
					<!--<h4>$4.95</h4>-->
				</a>
			</div>
		</div>

		<!-- 2nd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=DDCHIP%20%20%20%20TW%20CHEE100">
					<img src="http://www.aussieproducts.com/images/may2017onward/homepage-imgs-5-9-17-snacks.png"
					     class="j-img-portrait2" alt="chocolate">
					<h4>Australian Snacks</h4>
					<!--<h6>Item #: WWOMBB</h6>-->
					<!--<h4>$4.95</h4>-->
				</a>
			</div>
		</div>

		<!-- 3rd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/products.asp?dept=88">
					<img src="http://www.aussieproducts.com/images/may2017onward/homepage-imgs-5-9-17-condiments.png"
					     class="j-img-portrait2" alt="chocolate">
					<h4>Australin Condiments</h4>
					<!--<h6>Item Number: WWOMPS</h6>-->
					<!--<h4>$4.95</h4>-->
				</a>
			</div>
		</div>

		<!-- 4th Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/products.asp?dept=62">
					<img src="http://www.aussieproducts.com/images/may2017onward/homepage-imgs-5-9-17-desserts.png"
					     class="j-img-portrait2" alt="socks">
					<h4>Australian Desserts</h4>
					<!--<h6>Item #: WWOMBS</h6>-->
					<!--<h4>$4.95</h4>-->
				</a>
			</div>
		</div>
	</div>

	<br>
	<!-- 2nd row of products: -->
	<div class="row">
		<!-- 1st Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=APCAPS%20AUS%20VISOR2">
					<img src="http://www.aussieproducts.com/images/APCAPS_AUS_VISOR2.gif"
					     class="j-img-square" alt="hat">
					<h4>Australian Flag Embroidered Sun Visor 2</h4>
					<h6>Item #: APCAPS AUS VISOR2</h6>
					<h4>$19.95</h4>
				</a>
			</div>
		</div>

		<!-- 2nd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=DMAKCA">
					<img src="http://www.aussieproducts.com/images/DMAKCA.jpg"
					     class="j-img-landscape" alt="hat">
					<h4>Akubra Cattleman</h4>
					<h6>Item #: DMAKCA</h6>
					<h4>$179.95</h4>
				</a>
			</div>
		</div>

		<!-- 3rd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=DMAKSR">
					<img src="http://www.aussieproducts.com/images/DMAKSR.gif"
					     class="j-img-landscape" alt="hat">
					<h4>Akubra Snowy River</h4>
					<h6>Item #: DMAKSR</h6>
					<h4>$179.95</h4>
				</a>
			</div>
		</div>

		<!-- 4th Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=WWSH69">
					<img src="http://www.aussieproducts.com/images/WWSH69.gif"
					     class="j-img-landscape" alt="chocolate">
					<h4>Tan Slouch Hat with Kangaroo Logo</h4>
					<h6>Item #: WWSH69</h6>
					<h4>$14.95</h4>
				</a>
			</div>
		</div>
	</div>

	<br>
	<!-- 3rd row of products: -->
	<div class="row">
		<!-- A 1st Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=BHRBOOM">
					<img src="http://www.aussieproducts.com/images/BHRBOOM.png" class="j-img-landscape" alt="chocolate">
					<h4>Returning Boomerangs Plywood 14in or 18in</h4>
					<h6>Item #: BHRBOOM</h6>
					<h4>$12.95</h4>
				</a>
			</div>
		</div>

		<!-- A 2nd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=BOOM%20DT16E">
					<img src="http://www.aussieproducts.com/images/BOOM-DT.png"
					     class="j-img-square" alt="chocolate">
					<h4>Aboriginal Handpainted Animal Dot Boomerang 12 inch</h4>
					<h6>Item #: BOOM DT16E</h6>
					<h4>$29.95</h4>
				</a>
			</div>
		</div>

		<!-- A 3rd Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=WWBI28">
					<img src="http://www.aussieproducts.com/images/wwbi28.gif"
					     class="j-img-portrait" alt="chocolate">
					<h4>Boomerang Information Book</h4>
					<h6>Item #: WWBI28</h6>
					<h4>$11.95</h4>
				</a>
			</div>
		</div>

		<!-- A 4th Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=DMTSNP">
					<img src="http://www.aussieproducts.com/images/DMTSNP.jpg"
					     class="j-img-portrait" alt="chocolate">
					<h4>Hand Painted Aboriginal Terracotta Open Neck Pot 14in</h4>
					<h6>Item #: DMTSNP</h6>
					<h4>$89.95</h4>
				</a>
			</div>
		</div>
	</div>


	<br>
	<!-- 4th row of products: -->
	<div class="row">
		<!-- row 4 col 1 Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=WWST46">
					<img src="http://www.aussieproducts.com/images/WWST46.gif"
					     class="j-img-portrait" alt="chocolate">
					<h4>Australian Cute Koala Garden Statue 18cm</h4>
					<h6>Item #: WWST46</h6>
					<h4>$39.95</h4>
				</a>
			</div>
		</div>

		<!-- row 4 col 2 Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=WWST79">
					<img src="http://www.aussieproducts.com/images/WWST79.gif"
					     class="j-img-landscape" alt="chocolate">
					<h4>Australian Kangaroo with Joey Statue 44cm</h4>
					<h6>Item #: WWST79</h6>
					<h4>$79.95</h4>
				</a>
			</div>
		</div>

		<!-- row 4 col 3 Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=WWST81">
					<img src="http://www.aussieproducts.com/images/WWST81.gif"
					     class="j-img-landscape" alt="chocolate">
					<h4>Australian Koala with Baby Garden Statue 40cm</h4>
					<h6>Item #: WWST81</h6>
					<h4>$119.95</h4>
				</a>
			</div>
		</div>

		<!-- row 4 col 4 Product Card -->
		<div class="col-sm-3 col-md-3">
			<div class="jcard">
				<a href="http://www.aussieproducts.com/prodinfo.asp?number=APTTMG">
					<img src="http://www.aussieproducts.com/images/APTTMG_Resize.jpg"
					     class="j-img-portrait" alt="chocolate">
					<h4>Aussie Products Exclusive Tim Tam Gift Mug Package</h4>
					<h6>Item #: APTTMG</h6>
					<h4>$39.95</h4>
				</a>
			</div>
		</div>
	</div>
</section>

<br>
<!-- START: AngularJS app section: -->
<!-- apSliderCtrl Controller -->
<section id="ng-app1" ng-cloak ng-app="ap-slider" ng-controller="apcCoreCtrl">
	<br>

	<!-- Edit product slider prototype -->
	<div id="j-product-slider-edit" ng-controller="apSliderEditCtrl" ng-if="!showSlider"
	     ng-include="'design/views/product-slider-edit.html'"></div>

	<!-- Primary product slider prototype -->
	<div id="j-product-slider" ng-controller="apSliderCtrl" ng-if="showSlider"
	     ng-include="'design/views/product-slider.html'"></div>

	<hr>
	<!-------------------------------------------------------------->
	<!-- random trial&error code to get everything up and running -->
	<!-------------------------------------------------------------->
	<input type="text" ng-model="data.productDescription">
	<h4>Product Description: {{ data.productDescription }}</h4>
	<h1>{{2+2}} = 2+2</h1>
	<h2>{{data.key1}}</h2>

	<!-- RealTimeDB test1 area -->
	<ul>
		<li ng-repeat="message in messages">
			<!-- edit message -->
			<label for="ap-message">Edit Message</label>
			<input id="ap-message" type="text" ng-model="message.text" ng-change="messages.$save(message)">
			<p>{{message}}</p>
			<!-- delete message -->
			<button ng-click="messages.$remove(message)">Delete Message</button>
			<br>[ Message: {{ message.text }} ]
		</li>
	</ul>

	<!-- create a new message -->
	<form ng-submit="addMessage()">
		<label for="new-message">Add a Message Now.</label>
		<input id="new-message" type="text" ng-model="newMessageText">
		<button type="submit">Add Message</button>
	</form>
</section>
<!-- END: AngularJS app section: -->

<!-- Vendor Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
<script>
    // Initialize Firebase... will eventually get this information from a secured php backend
    var config = {
        apiKey: "AIzaSyBq6mpowidyq3CR5CEJgZO7-vWfx7WXE8w",
        authDomain: "product-slider.firebaseapp.com",
        databaseURL: "https://product-slider.firebaseio.com",
        projectId: "product-slider",
        storageBucket: "product-slider.appspot.com",
        messagingSenderId: "707544519915"
    };
    firebase.initializeApp(config);
</script>

<!-- Custom JavaScript -->
<script src="design/js/apc.app.js"></script>
<script src="design/js/product.group.ser.js"></script>
<script src="design/js/core.ctrl.js"></script>
<script src="design/js/product.slider.ctrl.js"></script>
<script src="design/js/product.slider.edit.ctrl.js"></script>
<script src="design/js/product.comp.js"></script>

</body>
</html>