<!-- web page site links -->
<div id="topnav" class="topnav2bgcolor">
    <ul class="topnavmenu">
        <li><a href="<%=insecureurl%>" title="<%=ALT_HOME_TXT%>" class="topnav2">HOME</a></li>
        <%if DISP_ABOUT_PAGE = true then %>
        <li><a href="<%=insecureurl%>Aboutus.asp" title="<%=ALT_ABOUT_TXT%>" class="topnav2">ABOUT US</a></li>
        <% end if %>
        <%if DISP_HELP_PAGE = true then %>
        <li><a href="<%=insecureurl%>help.asp" title="<%=ALT_HELP_TXT%>" class="topnav2">SHIPPING</a></li>
        <% end if %>
        <%if DISP_CONTACT_PAGE = true then %>
        <li><a href="<%=insecureurl%>contactus.asp"  title="<%=ALT_CONTACT_TXT%>" class="topnav2">CONTACT US</a></li>
        <% end if %>

        <li><a href="<%=insecureurl%>basket.asp" title="View Cart" class="topnav2">VIEW CART</a></li>
        <li><a href="<%=insecureurl%>statuslogin.asp" title="My Account" class="topnav2"><img src="http://www.aussieproducts.com/images/buttons/Login.gif" /></a></li>

        <!--
        <li class="divide TopNav2Text"><% if session("registeredshopper")="NO" then %><a href="<%=secureurl%>login.asp" title="Login" class="topnav2">Login</a><%else%>
        Hello, <%=session("firstname")%>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="<%=secureurl%>logout.asp" title="Logout" class="topnav2">Logout</a><%end if%></li>
        -->
    </ul>
</div>