.j-h1 {
  font-weight: 300;
  text-transform: uppercase;
  color: mediumpurple; }

.j-contain-vid {
  padding: 0; }

#j-video-section1 #j-video1 {
  width: 100%;
  height: auto; }

#j-video-section1 .jbtn-group .jbutton {
  background-color: mediumpurple;
  /* Green */
  border: 1px solid yellow;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: 0 4px; }

#j-video-section1 .jbtn-group .jbutton:not(:last-child) {
  border-right: none;
  /* Prevent double borders */ }

#j-video-section1 .jbtn-group .jbutton:hover {
  background-color: whitesmoke;
  color: mediumpurple; }

.jcard {
  text-align: center;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: #515151;
  min-height: 312px;
  max-height: 312px; }
  .jcard:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .jcard a {
    text-decoration: none;
    color: inherit; }
  .jcard img {
    width: 150px;
    height: 184px; }

.j-img-header {
  width: 100%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); }

.j-div {
  overflow-x: scroll; }

.j-contain {
  padding: 2px 12px; }

.j-soldout {
  color: darkred; }

.j-table-header-blue {
  color: #002a7e;
  font-weight: 400;
  text-transform: uppercase; }

.table > tbody > tr > th {
  border-top: none; }

.table > tbody > tr > td {
  border-top: none; }
