A.topnav1:link {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}
A.topnav1:active {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
}
A.topnav1:visited  {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
A.topnav1:hover  {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
.TopNav1Text{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	display: inline-block;
}
.topnav1bgcolor {
	background-color: #002a7e;
}
.topnav2bgcolor {
	background-color: #002a7e;
	background-image: url(../images/mainnav-bg.gif);
	background-repeat: repeat-x;
}
A.topnav2:link {
	color: #002a7e;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav2:active {
	color: #002a7e;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav2:visited  {
	color: #002a7e;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav2:hover  {
	color: #002a7e;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: underline;
	color: #002a7e;
}
.TopNav2Text{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}
.topnav3bgcolor {
}
A.topnav3:link {
	color: ;
	font-size: px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav3:active {
	color: ;
	font-size: px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav3:visited  {
	color: ;
	font-size: px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}
A.topnav3:hover  {
	color: ;
	font-size: px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: underline;
}
.TopNav3Text{
	color: #FFF9F9;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.j-log-btn {
	padding: 2px 6px;
	border: 1px solid #ffffff;
}
